.split {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* min-width: 500px; */
}

.split2{
    display: flex;
    flex-direction: column;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.inside_container{
    /* height: 92vh; */
    height: 100%;
    overflow: hidden;
    /* background-color: bisque; */
}

.left_container{
    /* height: 92vh; */
    /* overflow-x: scroll;
    overflow-y: scroll; */
}

.left_navbar{
    padding: 0 10px;
    z-index: 3;
    background-color: #eee;
}

.leftnav_btn{
    outline: none;
    border: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: rgb(76, 60, 60);

}

.activecls{
    background-color: rgb(255, 255, 255);
}

.right_navbar{
    padding: 0 10px;
    height: 45px;
    /* height: 4.5%; */
    background-color: #eee;
}

.problem_statement{
    padding: 15px;
    overflow: scroll;
    height: 95%;
    /* overflow-x: hidden; */
    /* height: 90vh; */
    padding-bottom: 40px;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
    font-size: 14px;
}
.problem_statement::-webkit-scrollbar {
    width: 8px;
    
}

.problem_statement::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(181, 173, 173, 0.3);
}

.problem_statement::-webkit-scrollbar-thumb {
  background-color: rgb(188, 183, 183);
  outline: 1px solid rgb(189, 182, 182);
  border-radius: 10px;
}

.mid_container{
    /* height: 78vh; */
    height: 100%;
}

.select_language{
    border-radius: 5px;
    border-color: #e0e0e0;
    color: rgb(38, 90, 90);
    outline: none;
    margin: 8px;
    
}

.editor_body_container {
    height: 95%;
}

.editor-ide{
    height: 94%;
    
  }

.show_console_btn{
    width: 50px;
    border: none;
    background-color: white;
    display: flex;
    /* display: none; */

}

.show_console{
    writing-mode: vertical-lr;
    padding: 10px;
    letter-spacing: 5px;
    margin: 0;
    text-align: center;
    /* align-items: center; */
    /* height: 80%; */
    font-weight: 600;
}



.right_container{
    /* height: 60vh; */
    max-width: 300px;
    min-width: 300px;
    /* display: none; */
}


.input_test_case_area{
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}

.base_btn{
    position: sticky;
    display: flex;
    bottom: 56px;
    justify-content: space-between;
}

.run_code_btn{
   margin-right: 15px;
   background-color: #cbc8c8;
   padding: 8px 15px;
   border: none;
   border-radius: 7px;
   font-weight: 600;
   position: absolute;
   right: 100px;
}

.submit_code_btn{
   margin-right: 15px;
   background-color: #b15e5e;
   padding: 8px 15px;
   border: none;
   border-radius: 7px;
   color: white;
   font-weight: 600;
   position: absolute;
   right: 10px;
}


.show_submission{
    background-color: rgb(239, 239, 239);
    margin: 15px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    flex-direction: column;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.compiler_time{
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 8px;
    padding: 5px;
}

.submission_text{
    font-size: initial;
}

.outer_container{
    height: 93vh;
}