.cb_header{
    height: 95vh;
    background-color: #C2C6E4;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 85%,
        0% 100%
    );
}

.cb_text{
    margin-top: 15%;  
}

.quote{
    font-size: 40px;
    font-family: 'KoHo', sans-serif;
    color: white;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quote_author{
    display: flex;
    justify-content: end;
    color: white;
    font-family: 'KoHo', sans-serif;
    margin-right: 12%;
}

.home_image{
    width: 100%;
    border-radius: 10px;
    margin-top: 25%;
}

.cb_breif{
    font-family: 'Quando';
    font-size: 24px;
    width: 80%;
    margin-top: 40px;
    font-weight: 500;
    color: #7A7676;
}

.explore_btn_cover{
    margin-top: 40px;
    width: 116px;
    background: #FFFFFF;
    border-radius: 40px;
}

.explore_btn{
    border: none;
    margin: 8px;
    box-sizing: border-box;
    width: 100px;
    background: #C2C6E4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    padding: 3px;
    color: #ffffff;
}

.cb_body{
    margin-top: 80px;
}

.create_contest{
    background: linear-gradient(180deg, rgba(194, 198, 228, 0) 31.25%, #C2C6E4 76.04%);
    text-align: center;
}

.heading_create_contest{
    margin-bottom: 40px;
    text-align: center;
}

.heading_join_contest{
    padding-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.crete_contest_cards{
    height: 230px;
    margin: 15px;
    border-radius: 5px;
}

.card_header{
    height: 120px;
    background-color:  #6972C5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card_body{
    background-color:  white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 110px;
    text-align: center;
    padding: 10px;
}

.join_contest{
    background: linear-gradient(180deg, #C2C6E4 39.06%, rgba(255, 255, 255, 0) 100%);
    text-align: center;

}

.join_contest_btn{
    padding: 10px;
    border: none;
    background-color: #6972C5;
    color: white;
    border-radius: 10px;
    font-weight: 400;
    margin: 30px auto;
    text-decoration: none;
}

.join_contest_btn:hover{
    text-decoration: none;
    color: white;

}

.top_coders_div{
    margin: 150px 0;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 22.74%, #f4efef 98.26%);
}

.heading_top_coder{
    text-align: center;
}

.top_coder_card_container{
    overflow: scroll;
    overflow-y: hidden;
}


.top_coder_card_container::-webkit-scrollbar {
    display: none;
}

.card_slider{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    margin-bottom: 90px;
}

.topcoder_card{
    display: flex;
    height: 150px;
    border-radius: 5px;
    background-color: #efe3e3;
    margin: 20px;
    min-width: 350px
}

.coder_avatar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center center;
    margin: 25px;
}

.coder_card_info{
    display: inline-block;
    padding: 20px;
}

.rating_review{
    text-align: center;
    margin: 40px;
}

.faq_container{
    background: linear-gradient(180deg, #F5F5F5 62.33%, rgba(245, 245, 245, 0) 74.31%);
    padding: 50px;
    text-align: center;
    margin: 80px 0;
}