.brand_name{
    font-size: 18px;
    font-family: Quando;
    font-weight: 500;
}

.navbar{
    background-color: #C2C6E4;
    font-family: Quando;
    font-size: 14px;
    height: 7vh;
}

.navbar_btn{
    background-color: white;
    border: none;
    color: rgb(63, 38, 38);
    padding: 8px 15px;
    border-radius: 5px;
    width: 70px;
    text-align: center;
    font-size: 13px;
}

.navbar_btn a:hover{
    color: black;
}

.navBar_profile_img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

.top_right_navbar{
    display: flex;
}