.filter_title{
    font-weight: 500;
}

.filter_contest{
    border: 1px solid rgb(228, 228, 231);
    padding: 5px 10px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
.search_bar{
    border: none;
    outline: none;
    width: 90%;
    color: #091427;
}
.btn_search_contest{
    background-color: #93a7c4;
    color: white;
    border: none;
    font-weight: 500;
    margin: 0 10%;
    width: 90%;
    padding: 9px;
    font-size: 13px;
    border-radius: 8px;
}
