.cover_board{
    height: 350px;
    /* background: radial-gradient(circle, #397c5d 20%, #182628 130%); */
    /* background: radial-gradient(circle, rgb(61 129 78) 15%, #0d3a26 150%); */
    /* background: linear-gradient(180deg, #C2C6E4 50.04%, rgba(194, 198, 228, 0) 100%) */
    background-color: #C2C6E4;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 75%,
        0% 100%
    );
}

.cover_brand{
    font-size: 40px;
    color: #ffffff;
    position: relative;
    /* font-family: 'Monoton', cursive; */
    font-family: 'Stardos Stencil', cursive;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-60%);
    /* text-decoration: underline; */
}

.container_inside{
    margin: 0 10%;
}

.contest_info{
    position: relative;
    top: -100px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 3px 10px #c6bebe;
    padding: 30px;
}

.contest_info-buttons{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color:#898EB7;
    color: white;
    font-size: 12px;
    font-weight: 500;
    
}

.contest_btn_category{
    margin: 10px;
    border-radius: 10px;
    background-color:#898EB7;
    font-family: 'Trispace', sans-serif;
}

.active_btn{
    color: rgb(255, 255, 255);
    background-color: #9ea1c0;
}