.contest_card{
    background-color: #DBDDEE;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 7px #cacbca;
    padding: 10px;
    font-family: 'Quando';
    color: rgb(111, 91, 91);
    font-size: 12px;
    text-align: center;
    /* font-weight: 500; */
}

.contest_card:hover{
    transform: scale(1.03);
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    box-shadow: none;
}

.heading{
    color: #403348;
    font-size: 14px;
}

.contest_name{
    font-size: larger;
    margin: 0;
    color: rgb(40, 40, 39);
}

.card_mid{
    text-align: center;
}

.contest_card p{
    margin: 5px;
}

.join_btn{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(125, 134, 151);
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.hr{
    color: rgb(28, 33, 48);
    opacity: 0.6;
}