.contest_card{
    background-color: aliceblue;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px #c5e4c5;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(111, 91, 91);
    font-size: 14px;
    font-weight: 500;
}

.contest_card:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.heading{
    color: #6a5576;
    font-size: 15px;
}

.contest_name{
    font-size: larger;
    margin: 0;
    color: rgb(40, 40, 39);
}

.card_mid{
    text-align: center;
}

.contest_card p{
    margin: 0;
}

.join_btn{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(125, 134, 151);
    color: rgb(255, 255, 255);
    margin-top: 5px;
}