.reset_password_container{
    width: 340px;
    border: 1px solid rgb(184, 179, 179);
    margin: 40px auto;
    border-radius: 10px;
    padding: 50px 15px;
}
.reset_message{
    margin: 30px 0;
    padding: 10px;
    border: 1px solid rgb(255, 174, 174);
    background-color: #fefeed;
    color: rgb(244, 122, 122);
    font-size: 18px;
    border-radius: 5px;
}

.forget_password_heading{
    text-align: center;
}   